$white: #ffff !default;
$gray-100: #f8f9fc !default;
$gray-200: #eaecf4 !default;
$gray-300: #dddfeb !default;
$gray-400: #bcdae8 !default;
$gray-500: #b7b9cc !default;
$gray-600: #858796 !default;
$gray-700: #6e707e !default;
$gray-800: #979193 !default;
$gray-900: #3a3b45 !default;
$black: #181818 !default;

$blue: #2175bc !default;
$indigo: #24385a !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #e74a3b !default;
$orange: #ffb37e !default;
$yellow: #d2a671 !default;
$green: #1cc88a !default;
$teal: #20c9a6 !default;
$cyan: #36b9cc !default;
$gold: #d2a671 !default;

$gradientyellowpink : linear-gradient(to right, red , yellow);